body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    width: 100%;
}
tr img{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* min-width: 304px; */
}
.header-item img{
    width: 200px;
    height: 200px;
    
}
.header-item{

    border-radius: 8px;
    margin: 10px 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /* align-items: center; */

    
}
table{
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    border:collapse;
    text-align: center;
}
tr:last-child{
    border-bottom: 0 solid black;

}

.header-item > h3,p,button{
    margin: 8px 9px;
}
.header-item button{
    align-self: center;
    margin: 0;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(51, 164, 51);
    color: white;
    padding: 12px;
}
.header-item button:hover{
    cursor: pointer;
    background-color: rgb(48, 143, 48);
}

.agregar{
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(78, 78, 186);


}
.eliminar{
    padding: 5px;
    border-radius: 8px;
    background-color: red;
}